/* GALLERY CSS */

html, body, #wrapper {
	margin: 0;
	text-align: center;
	font-size; 1em;
}

body {
	position: relative;
}

#wrapper {
	background: url('img/wall.jpg');
	background-size: contain;
}

h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1.5em;
	color: rgb(75,75,75);
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 15px;
	filter: drop-shadow(25px 25px 15px rgba(0,0,0,.2)) drop-shadow(-25px 25px 15px rgba(0,0,0,.2));
}

h1 span img {
	display: block;
	width: 100px;
	margin: auto;
}

audio {
	position: absolute;
	top: 125px;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	height: 50px;
	border-radius: 2.5px;
}

/* MAIN CONTENT *******************************************************************************/


.imgWrap {
	width: 270px;
	margin: 160px auto auto;
}

.shimmerWrap {
	position: relative;
	overflow: hidden;
	width: 270px;
	margin: -25px auto auto;
	padding-top: 25px;
	padding-bottom: 15px;
}

.shimmer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 250px;
	margin-left: 375px;
	background: -webkit-linear-gradient(25deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);background: linear-gradient(65deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);
	-webkit-transition-duration: 2s;transition-duration: 2s;
	z-index: 9;
}

.shimmerWrap:hover > div {
	margin-left: -375px;
	-webkit-transition-duration: 2s;transition-duration: 2s;
}

.img {
	display: block;
	width: 250px;
	margin: auto;
}

.picLamp {
	display: none;
}

.art {
	margin-top: -25px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,.3)) drop-shadow(-5px 5px 5px rgba(0,0,0,.3));
}


/* FOOTER *******************************************************************************/
footer {
	padding-bottom: 5px;
}

button {
	display: none;
}

footer p {
	font-size: .75em;
	margin: 0px auto;
}

footer a {
	text-decoration: none;
	font-size: 1.25em;
	text-shadow: .5px .5px 0px black;
	outline: none;
	color: red;
	max-width: 350px;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

footer a:active, footer a:focus, footer a:hover {
	color: darkorange;
	text-shadow: .5px .5px .5px black;
	background: rgba(240,240,240,0.7);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}



/* MEDIA QUERRIES FOR MEDIUM SCREENS */
@media screen and (min-width: 700px) {
	html, body, #wrapper {
		height: 100%;
	}

	body {
		width: 1750%;
	}
	
	#wrapper {
		background: url('img/galleryBackgroundM.jpg');
		background-repeat: repeat-x;
		background-size: auto 100%;
		overflow-y: hidden;
	}

	header {
		position: fixed;
		top: 25px;
		left: 50%;
		margin-left: -250px;
	}
	
	h1 {
		
		font-size: 1.75em;
		text-shadow: 1px 1px 0px rgb(200,200,200);
		padding-top: 10px;
	}

	h1 span img {
		display: inline-block;
		width: 100px;
		margin: auto auto -5px;
	}

	/* MAIN CONTENT *******************************************************************************/
	#mainDiv {
		display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;
		-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;
		-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;
		-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;
		width: auto;
		height: 100%;
	}
	
	.imgWrap {
		width: 525px;
		margin: 25% auto auto;
	}
	
	.shimmerWrap {
		width: 525px;
		margin: -50px auto auto;
	}

	.shimmer {
		width: 525px;
		margin-left: 500px;
	}

	.shimmerWrap:hover > div {
		margin-left: -500px;
	}

	.img {
		width: 500px;
	}

	.picLamp {
		display: block;
		width: 270px;
		margin-bottom: 25px;
	}

	/* FOOTER *******************************************************************************/
	footer {
		position: fixed;
		bottom: 0;
		left: 10px;
		width: 100%;
	}

	button {
		display: block;
		font-family: Impact, Charcoal, sans-serif;
		font-size: 1.25em;
		width: 125px;
		margin: auto auto 15px;
		padding: 5px;
		background: rgba(240,240,240,0.9);
		border: 1px solid white;
		border-bottom: 1px solid darkgrey;
		border-radius: 5px;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	button:disabled {
		background: rgba(150,150,150,0.7);
	}

	button:active, button:focus, button:hover {
		color: maroon;
	} 
	
	footer p {
		font-size: .9em;
		margin: 5px auto;
	}
	
	audio {
		position: fixed;
		top: auto;
		left: 5px;
		margin-left: 0;
		padding-top: 0;
		width: 125px;
		height: 50px;
	}
	
	#goLeft,
	#goRight,
	#stop	{
		position: fixed;
	}
	
	#goLeft {
		left: 5px;
		bottom: 10px;
	}
	
	#goRight {
		right: 5px;
		bottom: 10px;
	}
	
	#stop {
		left: 50%;
		margin-left: -50px;
		bottom: 80px;
		width: 125px;
	}
}



/* MEDIA QUERRIES FOR LARGE SCREENS */
@media screen and (min-width: 1000px) {	
	#wrapper {
		background: url('img/galleryBackgroundL.jpg');
		background-repeat: repeat-x;
		background-size: auto 100%;
		overflow-y: hidden;
	}
	
	header {
		top: 0;
		margin-left: -420px;
	}

	h1 {
		font-size: 3em;
		padding-top: 25px;
	}

	h1 span img {
		width: 150px;
		margin-bottom: -10px;
	}
	
	/* MAIN CONTENT *******************************************************************************/
	
	.imgWrap {
		width: 525px;
	}
	
	.shimmerWrap {
		width: 525px;
		margin: -50px auto auto;
	}

	.shimmer {
		width: 525px;
		margin-left: 500px;
	}

	.shimmerWrap:hover > div {
		margin-left: -500px;
	}

	.img {
		width: 500px;
	}

	.picLamp {
		width: 325px;
		margin-bottom: 25px;
	}
	
	/* FOOTER *******************************************************************************/
	footer {
		padding-bottom: 0;
	}
	
	footer a {
		display: block;
		margin: auto auto -20px 200px;
		border-radius: 5px;
	}
	
	footer p {
		display: inline-block;
		margin: auto auto 10px;
	}
	
	footer p:nth-of-type(1) {
		float: left;
		margin-left: 10px;
	}
	
	footer p:nth-of-type(2) {
		float: right;
		margin-right: 10px;
	}
	
	audio {
		position: fixed;
		bottom: 40px;
		left: 150px;
		width: 30%;
	}
	
	button {
		margin-bottom: 5px;
	}
	
	#goLeft,
	#goRight,
	#stop	{
		position: fixed;
	}
	
	#goLeft {
		left: 5px;
		bottom: 25px;
	}
	
	#goRight {
		right: 5px;
		bottom: 25px;
	}
	
	#stop {
		bottom: 35px;
		left: 50%;
		margin-left: -32.5px;
		width: 125px;
	}
}


/* MEDIA QUERRIES FOR X-LARGE SCREENS */
@media screen and (min-width: 1500px) {
	#wrapper {
		background: url('img/galleryBackgroundXL.jpg');
		background-repeat: repeat-x;
		background-size: auto 100%;
		overflow-y: hidden;
	}
	
	header {
		margin-left: -575px;
	}

	h1 {
		font-size: 4em;
	}
	
	h1 span img {
		width: 200px;
		margin-bottom: -10px;
	}
	
	.imgWrap {
		width: 625px;
		margin: 200px auto auto;
	}
	
	.shimmerWrap {
		width: 625px;
		margin: -50px auto auto;
	}

	.shimmer {
		width: 625px;
		margin-left: 500px;
	}

	.shimmerWrap:hover > div {
		margin-left: -600px;
	}

	.img {
		width: 600px;
		padding-top: 25px;
	}
	
	.picLamp {
		width: 400px;
		margin-bottom: 35px;
	}
	
	.art {
		margin-top: -50px;
	}
	
	#goLeft,
	#goRight,
	#stop {
		position: absolute;
		bottom: 5px;
		left: 50%;
	}
	
	#goLeft {
		margin-left: -200px;
	}
	
	#stop {
		margin-left: -50px;
	}
	
	#goRight {
		margin-left: 100px;
	}
	
	audio {
		width: 155px;
		left: 50%;
		margin-left: -55px;
		bottom: 55px;
	}
}
