/* LANDSCAPE */

/* GALAXY LANDSCAPE */
/* @media screen 
  and (device-width: 240px) 
  and (device-height: 320px) 
  and (orientation: landscape) {
	html, body, #wrapper {
		width: auto;
		height: 100%;
		margin: 0;
		text-align: center;
		font-size; 1em;
	}

	body {
		position: relative;
	}

	#wrapper {
		width: 4500px;
		background: url('img/galleryBackgroundSm.jpg');
		background-repeat: repeat-x;
		background-size: contain;
		
	}

	header {
		position: fixed;
		top: 0;
		left: 50%;
		margin-left: -90px;
	}

	h1 {
		font-family: Impact, Charcoal, sans-serif;
		font-size: 1.5em;
		color: rgb(75,75,75);
		margin-top: 0px;
		margin-bottom: 10px;
		padding-top: 10px;
		filter: drop-shadow(25px 25px 15px rgba(0,0,0,.2)) drop-shadow(-25px 25px 15px rgba(0,0,0,.2));
	}

	h1 span img {
		display: block;
		width: 100px;
		margin: auto;
	}

	h6 {
		margin-top: 10px;
	}

	#mainDiv {
		display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;
		-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;
		-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;
		-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;
		width: auto;
		height: 100%;
	}
  
	h1 {
		padding-top: 5px;
	}

	.imgWrap {
		width: 270px;
		margin: 75px auto auto;
	}

	.shimmerWrap {
		position: relative;
		overflow: hidden;
		width: 270px;
		margin: -25px auto auto;
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.shimmer {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 250px;
		margin-left: 375px;
		background: -webkit-linear-gradient(25deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);background: linear-gradient(65deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);
		-webkit-transition-duration: 2s;transition-duration: 2s;
		z-index: 9;
	}

	.shimmerWrap:hover > div {
		margin-left: -375px;
		-webkit-transition-duration: 2s;transition-duration: 2s;
	}

	.img {
		display: block;
		width: 250px;
		margin: auto;
		
	}

	.picLamp {
		display: none;
	}

	.art {
		margin-top: -25px;
	}

	audio {
		position: fixed;
		bottom: 65px;
		left: 5px;
		width: 125px;
	}

	#goLeft,
	#goRight,
	#stop	{
		position: fixed;
	}
	
	#goLeft {
		left: 5px;
		bottom: 10px;
	}
	
	#goRight {
		right: 5px;
		bottom: 10px;
	}
	
	#stop {
		bottom: 100px;
		right: -60px;
	}
	
	footer {
		position: fixed;
		bottom: 0;
		left: 50%;
		margin-left: -150px;
	}

	button {
		font-family: Impact, Charcoal, sans-serif;
		font-size: 1.25em;
		margin: auto auto 15px;
		padding: 5px;
		background: rgba(240,240,240,0.9);
		border: 1px solid white;
		border-bottom: 1px solid darkgrey;
		border-radius: 5px;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	button:disabled {
		background: rgba(150,150,150,0.7);
	}

	button:active, button:focus, button:hover {
		color: maroon;
	} 

	footer p {
		font-size: .75em;
		margin: 0px auto;
	}

	footer a {
		text-decoration: none;
		font-size: 1.25em;
		text-shadow: .5px .5px 0px black;
		outline: none;
		color: red;
		max-width: 350px;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	footer a:active, footer a:focus, footer a:hover {
		color: darkorange;
		text-shadow: .5px .5px .5px brown;
		background: rgba(240,240,240,0.7);
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}
} */



/* GALAXY LANDSCAPE */
/* @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
	h1 {
		padding-top: 5px;
	}

	.imgWrap {
		width: 270px;
		margin: 75px auto auto;
	}

	.shimmerWrap {
		position: relative;
		overflow: hidden;
		width: 270px;
		margin: -25px auto auto;
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.shimmer {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 250px;
		margin-left: 375px;
		background: -webkit-linear-gradient(25deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);background: linear-gradient(65deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);
		-webkit-transition-duration: 2s;transition-duration: 2s;
		z-index: 9;
	}

	.shimmerWrap:hover > div {
		margin-left: -375px;
		-webkit-transition-duration: 2s;transition-duration: 2s;
	}

	.img {
		display: block;
		width: 250px;
		margin: auto;
		
	}

	.picLamp {
		display: none;
	}

	.art {
		margin-top: -25px;
	}

	audio {
		position: fixed;
		bottom: 65px;
		left: 5px;
		width: 125px;
	}

	#goLeft,
	#goRight,
	#stop	{
		position: fixed;
	}
	
	#goLeft {
		left: 5px;
		bottom: 10px;
	}
	
	#goRight {
		right: 5px;
		bottom: 10px;
	}
	
	#stop {
		bottom: 100px;
		right: -60px;
	}
	
	footer {
		position: fixed;
		bottom: 0;
		left: 50%;
		margin-left: -150px;
	}

	button {
		font-family: Impact, Charcoal, sans-serif;
		font-size: 1.25em;
		margin: auto auto 15px;
		padding: 5px;
		background: rgba(240,240,240,0.9);
		border: 1px solid white;
		border-bottom: 1px solid darkgrey;
		border-radius: 5px;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	button:disabled {
		background: rgba(150,150,150,0.7);
	}

	button:active, button:focus, button:hover {
		color: maroon;
	} 

	footer p {
		font-size: .75em;
		margin: 0px auto;
	}

	footer a {
		text-decoration: none;
		font-size: 1.25em;
		text-shadow: .5px .5px 0px black;
		outline: none;
		color: red;
		max-width: 350px;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	footer a:active, footer a:focus, footer a:hover {
		color: darkorange;
		text-shadow: .5px .5px .5px brown;
		background: rgba(240,240,240,0.7);
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}
	
} */


/* IPHONES LANDCSAPE*/
/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
		h1 {
		padding-top: 5px;
	}

	.imgWrap {
		width: 270px;
		margin: 75px auto auto;
	}

	.shimmerWrap {
		position: relative;
		overflow: hidden;
		width: 270px;
		margin: -25px auto auto;
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.shimmer {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 250px;
		margin-left: 375px;
		background: -webkit-linear-gradient(25deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);background: linear-gradient(65deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);
		-webkit-transition-duration: 2s;transition-duration: 2s;
		z-index: 9;
	}

	.shimmerWrap:hover > div {
		margin-left: -375px;
		-webkit-transition-duration: 2s;transition-duration: 2s;
	}

	.img {
		display: block;
		width: 250px;
		margin: auto;
		
	}

	.picLamp {
		display: none;
	}

	.art {
		margin-top: -25px;
	}

	audio {
		position: fixed;
		bottom: 65px;
		left: 5px;
		width: 125px;
	}

	#goLeft,
	#goRight,
	#stop	{
		position: fixed;
	}
	
	#goLeft {
		left: 5px;
		bottom: 10px;
	}
	
	#goRight {
		right: 5px;
		bottom: 10px;
	}
	
	#stop {
		bottom: 100px;
		right: -60px;
	}
	
	footer {
		position: fixed;
		bottom: 0;
		left: 50%;
		margin-left: -150px;
	}

	button {
		font-family: Impact, Charcoal, sans-serif;
		font-size: 1.25em;
		margin: auto auto 15px;
		padding: 5px;
		background: rgba(240,240,240,0.9);
		border: 1px solid white;
		border-bottom: 1px solid darkgrey;
		border-radius: 5px;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	button:disabled {
		background: rgba(150,150,150,0.7);
	}

	button:active, button:focus, button:hover {
		color: maroon;
	} 

	footer p {
		font-size: .75em;
		margin: 0px auto;
	}

	footer a {
		text-decoration: none;
		font-size: 1.25em;
		text-shadow: .5px .5px 0px black;
		outline: none;
		color: red;
		max-width: 350px;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	footer a:active, footer a:focus, footer a:hover {
		color: darkorange;
		text-shadow: .5px .5px .5px brown;
		background: rgba(240,240,240,0.7);
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}
	
} */

@media only all and (min-width: 500px) and (max-height: 500px) {
	h1 {
		padding-top: 5px;
	}

	.imgWrap {
		width: 270px;
		margin: 75px auto auto;
	}

	.shimmerWrap {
		position: relative;
		overflow: hidden;
		width: 270px;
		margin: -25px auto auto;
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.shimmer {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 250px;
		margin-left: 375px;
		background: -webkit-linear-gradient(25deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);background: linear-gradient(65deg, transparent 45%, rgba(255,255,255,0.1) 50%, transparent 55%);
		-webkit-transition-duration: 2s;transition-duration: 2s;
		z-index: 9;
	}

	.shimmerWrap:hover > div {
		margin-left: -375px;
		-webkit-transition-duration: 2s;transition-duration: 2s;
	}

	.img {
		display: block;
		width: 250px;
		margin: auto;
		
	}

	.picLamp {
		display: none;
	}

	.art {
		margin-top: -25px;
	}

	audio {
		position: fixed;
		bottom: 150px;
		left: 5px;
		width: 110px;
	}

	#goLeft,
	#goRight,
	#stop	{
		position: fixed;
		width: 110px;
		height: 40px;
	}
	
	#goLeft {
		left: 5px;
		bottom: 80px;
	}
	
	#goRight {
		left: 5px;
		bottom: 35px;
		margin-left: 0;
	}
	
	#stop {
		bottom: 5px;
		left: 5px;
		margin-left: 0;
	}
	
	footer {
		position: fixed;
		bottom: 0;
		left: 115px;
		/* margin-left: -150px; */
		
	}

	button {
		font-family: Impact, Charcoal, sans-serif;
		font-size: 1.25em;
		margin: auto auto 15px;
		padding: 5px;
		background: rgba(240,240,240,0.9);
		border: 1px solid white;
		border-bottom: 1px solid darkgrey;
		border-radius: 5px;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	button:disabled {
		background: rgba(150,150,150,0.7);
	}

	button:active, button:focus, button:hover {
		color: maroon;
	} 

	footer p {
		font-size: .75em;
		margin: 0px auto;
	}

	footer a {
		text-decoration: none;
		font-size: 1.25em;
		text-shadow: .5px .5px 0px black;
		outline: none;
		color: red;
		max-width: 350px;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	footer a:active, footer a:focus, footer a:hover {
		color: darkorange;
		text-shadow: .5px .5px .5px brown;
		background: rgba(240,240,240,0.7);
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}
}